body {margin:0;}

/*tile color and padding*/
.title{
    padding: 10px;
    text-align: center;
    background: #bdcebe;
    color: white;
    font-size: 30px;
    margin-left: -20px;
    margin-right: -20px;
}

/* Top navbar change background color */
.navbar {
  overflow: hidden;
  background-color: #96ceb4;
  position: fixed;
  top: 0;
  width: 100%;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* change background on mouse-over */
.navbar a:hover{
  background: #618685;
  color: black;
}

/* Main content */ 
.main{
  padding: 16px;
  margin-top: 30px;
  height: 2000px; /* Used to enable scrolling */
  background: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    max-width: 100%;
    height: 40%;
    float: left;
    padding-right: 20px;
  }
  /*https://www.w3schools.com/css/css_align.asp*/ 
.clearfix::after{
    float: right;
    content: "";
    clear:both;
    display: table;
}
.clearfix {
    background-color:  #f4e1d2;
}

/*https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background_hero*/
.hero-image {
    background-image: url("https://cdn.laredoute.com/products/680by680/4/8/0/48066ffb9b72f0ec9aa9f23c8f9625d7.jpg");
    background-color: #fefbd8;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #618685;
  }
/*source of info W3School- flexbox*/
  .flex-container {
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
  }

 /*source of info W3School- flexbox*/
.flex-container > div {
    background-color: #f4e1d2;
    width:400px;
    height: 400px;
    margin: 50px;
    text-align: center;
    flex-basis: 300px;
    color: #618685;
    font-size: 20px;
}

/*https://codepen.io/anthonyadamski/pen/ukghm*/
.skill-set li:hover
{
	background: #618685;
}
ul
{  list-style-type:none;
	margin-top:-10px;
	max-width:570px;
	padding:0;
}
.skill-set li
{
	background: #bdcebe;
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}