body {margin:0;}

/*tile color and padding*/
.title{
    padding: 10px;
    text-align: center;
    background: #bdcebe;
    color: white;
    font-size: 30px;
}

/* Top navbar change background color */
.navbar {
  overflow: hidden;
  background-color: #96ceb4;
  position: fixed;
  top: 0;
  width: 100%;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* change background on mouse-over */
.navbar a:hover{
  background: #618685;
  color: black;
}

/* Main content */ 
.main{
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used to enable scrolling */
  background: #f4e1d2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 100%;
    height: 40%;
    float: left;
    padding-right: 20px;
  }
.clearfix::after{
    float: right;
    content: "";
    clear:both;
    display: table;
}
